{% load static %}
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <title>ĐĂNG KÝ HỌC CHO BÉ</title>
    <link href="{%static 'seed_school/style.css' %}" rel="stylesheet"/>
    <link href="{%static 'seed_school/bootstrap.css' %}" rel="stylesheet"/>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="homepage.htm" class="navbar-brand text-center text-light"><img src="{% static 'seed_school/images/logo.jpg' %} alt="" height="50px">Seed
            School</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="homepage.htm" class="nav-link">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a href="homepage.htm" class="nav-link">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a href="homepage.htm" class="nav-link">Liên hệ</a>
            </li>
        </ul>
    </div>

    <div class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a href="" class="navbar-brand">Đăng ký</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div href="" class="nav-link text-light"><a href="homepage.htm" class="text-light"><strong>Trang chủ
                                &#xbb;</strong></a><a href="admission.htm" class="text-light"><strong>Đăng
                                ký</strong></a> &#xbb;<a href="" class="text-light"> Bản đăng kí</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--break-->
    <div class="container">
        <table class="a1">
            <tr>
                <th class="b1"><img src="logo.png" alt="" height="80px"></th>
                <th class="b2" colspan="3">
                    <h1>Seed School
                </th>
            </tr>
            <tr>
                <th class="c1" colspan="4">Bản đăng kí</th>
            </tr>
            <tr>
                <th class="d1" colspan="4">
                    <h3><span class="badge badge-pill badge-success"><img src="insidelogo.gif" height="22px" alt="">
                            Thông tin cá nhân</span></h3>
                </th>
            </tr>
            <tr>
                <th>Tên bé </th>
                <td><input type="text" class="e1" placeholder="Họ"></td>
                <td><input type="text" class="e1" placeholder="Tên đệm"></td>
                <td><input type="text" class="e1" placeholder="Tên"></td>
            </tr>
            <tr>
                <th>Tên cha </th>
                <td><input type="text" class="e1" placeholder="Họ"></td>
                <td><input type="text" class="e1" placeholder="Tên đệm"></td>
                <td><input type="text" class="e1" placeholder="Tên"></td>
            </tr>
            <tr>
                <th>Tên mẹ </th>
                <td><input type="text" class="e1" placeholder="Họ"></td>
                <td><input type="text" class="e1" placeholder="Tên đệm"></td>
                <td><input type="text" class="e1" placeholder="Tên"></td>
            </tr>
            <tr>
                <th>Giới tính </th>
                <td class="f1"><input type="radio" name="gender">Nam </td>
                <td class="f1"><input type="radio" name="gender">Nữ </td>
                <td class="f1"><input type="radio" name="gender">Khác </td>
            </tr>
            <tr>
                <th>Ngày sinh </th>
                <td><input class="g1" type="date"></td>
                <th>Hình thức học</th>
                <td>
                    <select class="g2">
                        <option>Bán trú</option>
                        <option>Bán trú và ngoài giờ</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Điện thoại Cha mẹ</th>
                <td><input class="e1" type="number"></td>
                <th>Điện thoại người giám hộ</th>
                <td><input class="e1" type="number"></td>
            </tr>
            <tr>
                <th>Email Cha mẹ</th>
                <td><input class="e1" type="email" "></td>
                <th> Email Người giám hộ</th>
                <td><input class=" e1" type="email"></td>
            </tr>
            <tr>
                <th>Địa chỉ thường trú</th>
                <td colspan="3"><input class="i1" type="text"></td>
            </tr>
            <tr>
                <th>Địa chỉ tạm trú</th>
                <td colspan="3"><input class="i1" type="text"></td>
            </tr>
            <tr>
                <th class="d1" colspan="4">
                    <h3><span class="badge badge-pill badge-success"><img src="insidelogo.gif" height="22px" alt="">
                            Ảnh đại diện và chữ ký người đăng ký</span></h3>
                </th>
            </tr>
            <tr>
                <th>Ảnh bé</th>
                <td colspan="3"><input class="k2" type="file"></td>
            </tr>
            <tr>
                <th>Chữ ký</th>
                <td colspan="3"><input class="k2" type="file"></td>
            </tr>
            <tr>
                <th>Số CCCD</th>
                <td><input class="e1" type="number"></td>
                <th class="k1">Ngày cấp</th>
                <td><input class="e1" type="date"></td>
            </tr>
            <tr>
                <th><input type="checkbox">
                    <lable>Tôi đồng ý</lable>
                </th>
                <th colspan="3"><a class="btn btn-lg btn-primary text-light l1">Gửi</a></th>
            </tr>
        </table>
    </div>
    <!--break-->
    <div class="navbar navbar-expand-lg navbar-dark dd">
        <div class="container">
            <div class="ff">
                <a href="">
                    <h1 class="ee">Địa chỉ</h1>
                </a><br><br>
                <h1 class="ee">Seed School</h1>
                <h2 class="gg">Bách Khoa, Hai Bà Trưng, Hà Nội</h2>
                <h2 class="gg">Tel: 0985234761</h2>
                <h2 class="gg">Email: thanh.nd204691@sis.hust.edu.vn</h2>
                <h2 class="gg">Website: www.thanhdeptrai.org</h2>
            </div>
            <div class="hh"></div>
            <div class="ff">
                <a href="">
                    <h1 class="ee">Liên kết</h1>
                </a>
                <table class="jj">
                    <tr>
                        <td><a href="" class="text-dark"> Giới thiệu</a></td>
                        <td><a href="" class="text-dark"> Liên hệ</a></td>
                    </tr>
                    <tr>
                        <td><a href="" class="text-dark"> Khuôn viên trường</a></td>
                        <td><a href="" class="text-dark"> Thông tin giáo viên</a></td>
                    </tr>
                    <tr>
                        <td><a href="" class="text-dark"> Hoạt động của bé</a></td>
                        <td><a href="" class="text-dark"> Thanh toán học phí</a></td>
                    </tr>
                </table>
            </div>
            <div class="hh"></div>
            <div class="ff">
                <a href="">
                    <h1 class="ee">Phản hồi quản trị viên</h1>
                </a>
                <h1 class="gg"></h1>
                <p><a href="">thanhak2k2@gmail.com</a></p>
            </div>

        </div>
</body>

</html>