{% load static %}
<!DOCTYPE html>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <title>Classrooms</title>
    <link href="{%static 'seed_school/style.css' %}" rel="stylesheet"/>
    <link href="{%static 'seed_school/bootstrap.css' %}" rel="stylesheet"/>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="homepage.htm" class="navbar-brand text-center text-light"><img src="{% static 'seed_school/images/logo.jpg' %} alt="" height="50px">
            <h2>Trường mầm non SeedSchool</h2>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="homepage.htm" class="nav-link">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a href="homepage.htm" class="nav-link">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a href="homepage.htm" class="nav-link">Liên hệ</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <table class="a2">
            <tr>
                <th class="b1"><img src="logo.png" alt="" height="80px">
                    <h4>SeedSchool</h4>
                </th>
                <th class="b2" colspan="3">
                    <h1></h1>
                    <h4>Danh sách các lớp học</h4>
                </th>
            </tr>
            <tr>
                <th class="k1">Hiệu trưởng</th>
                <th class="k1">Phó hiệu trưởng</th>
                <th class="k1">Tổng phụ trách</th>
            </tr>
            <tr>
                <th class="k1"><img src="principal.jpg" alt="" height="200px"></th>
                <th class="k1"><img src="vice_principal.jpg" alt="" height="200px"></th>
                <th class="k1"><img src="admin.jpg" alt="" height="200px"></th>
            </tr>
            <tr>
                <td class="k1">Nguyễn Duy Thành</td>
                <td class="k1">Hoàng Thị Kim Thảo</td>
                <td class="k1">Đặng Thị Kiều Trâm</td>
            </tr>
            <tr>
                <th class="d1" colspan="3">
                    <h3>&#x2742; Các lớp khối nhà trẻ</h3>
                </th>
            </tr>
            <tr>
                <th href = "" class="k1">13-18 tháng</th>
                <th href = "" class="k1">19-24 tháng</th>
                <th href = "" class="k1">25-36 tháng</th>
            </tr>
            <tr>
                <th class="k1"><img src="class13_18.png" alt="" height="200px"></th>
                <th class="k1"><img src="class19_24.jpg" alt="" height="200px"></th>
                <th class="k1"><img src="class25_36.jpg" alt="" height="200px"></th>
            </tr>
            <tr>
                <td class="k1">Gv.Nguyễn Duy Thành</td>
                <td class="k1">Gv.Đặng Thu Thủy</td>
                <td class="k1">Gv.Đinh Thị Kiều Nga</td>
            </tr>

            <tr>
                <th class="d1" colspan="3">
                    <h3>&#x272A; Các lớp khối mẫu giáo</h3>
                </th>
            </tr>
            <tr>
                <th href = "" class="k1">3-4 tuổi</th>
                <th href = "" class="k1">4-5 tuổi</th>
                <th href = "" class="k1">5-6 tuổi</th>
            </tr>
            <tr>
                <th class="k1"><img src="class3_4.jpg" alt="" height="200px"></th>
                <th class="k1"><img src="class4_5.jpg" alt="" height="200px"></th>
                <th class="k1"><img src="class5_6.jpg" alt="" height="200px"></th>
            </tr>
            <tr>
                <td class="k1">Gv.Nguyễn Duy Thành</td>
                <td class="k1">Gv.Đặng Thu Thủy</td>
                <td class="k1">Gv.Đinh Thị Kiều Nga</td>
            </tr>

        </table>

<!--break-->
<div class="navbar navbar-expand-lg navbar-dark dd">
    <div class="container">
        <div class="ff">
            <a href="">
                <h1 class="ee">Địa chỉ</h1>
            </a><br><br>
            <h1 class="ee">Seed School</h1>
            <h2 class="gg">Bách Khoa, Hai Bà Trưng, Hà Nội</h2>
            <h2 class="gg">Tel: 0985234761</h2>
            <h2 class="gg">Email: thanh.nd204691@sis.hust.edu.vn</h2>
            <h2 class="gg">Website: www.seedschool.org.org</h2>
        </div>
        <div class="hh"></div>
        <div class="ff">
            <a href="">
                <h1 class="ee">Liên kết</h1>
            </a>
            <table class="jj">
                <tr>
                    <td><a href="" class="text-dark"> Giới thiệu</a></td>
                    <td><a href="" class="text-dark"> Liên hệ</a></td>
                </tr>
                <tr>
                    <td><a href="" class="text-dark"> Khuôn viên trường</a></td>
                    <td><a href="" class="text-dark"> Thông tin giáo viên</a></td>
                </tr>
                <tr>
                    <td><a href="" class="text-dark"> Hoạt động của bé</a></td>
                    <td><a href="" class="text-dark"> Thanh toán học phí</a></td>
                </tr>
            </table>
        </div>
        <div class="hh"></div>
        <div class="ff">
            <a href="">
                <h1 class="ee">Phản hồi quản trị viên</h1>
            </a>
            <h1 class="gg"></h1>
            <p><a href="">thanhak2k2@gmail.com</a></p>
        </div>

    </div>
</body>

</html>