<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ĐĂNG NHẬP</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="homepage.htm" class="navbar-brand text-center text-light"><img src="logo.png" alt=""
                    height="50px">Seed School
            </a>
        </div>
    </div>
    <div class="jumbotron text-dark zzz bg-danger rounded-0 mb-0">
        <form action="" class="ccc">
            <a href="Teacher_login.html" class="btn btn-primary cc3">Đăng nhập giáo viên</a>
            <a href="Parent_login.htm" class="btn btn-primary cc3">Đăng nhập phụ huynh</a>
        </form>
    </div>

    <!--break-->
    <div class="navbar navbar-expand-lg navbar-dark dd">
        <div class="container">
            <div class="ff">
                <a href="">
                    <h1 class="ee">Địa chỉ</h1>
                </a><br><br>
                <h1 class="ee">Seed School</h1>
                <h2 class="gg">Bách Khoa, Hai Bà Trưng, Hà Nội</h2>
                <h2 class="gg">Tel: 0985234761</h2>
                <h2 class="gg">Email: thanh.nd204691@sis.hust.edu.vn</h2>
                <h2 class="gg">Website: www.thanhdeptrai.org</h2>
            </div>
            <div class="hh"></div>
            <div class="ff">
                <a href="">
                    <h1 class="ee">Liên kết</h1>
                </a>
                <table class="jj">
                    <tr>
                        <td><a href="" class="text-dark"> Giới thiệu</a></td>
                        <td><a href="" class="text-dark"> Liên hệ</a></td>
                    </tr>
                    <tr>
                        <td><a href="" class="text-dark"> Khuôn viên trường</a></td>
                        <td><a href="" class="text-dark"> Thông tin giáo viên</a></td>
                    </tr>
                    <tr>
                        <td><a href="" class="text-dark"> Hoạt động của bé</a></td>
                        <td><a href="" class="text-dark"> Thanh toán học phí</a></td>
                    </tr>
                </table>
            </div>
            <div class="hh"></div>
            <div class="ff">
                <a href="">
                    <h1 class="ee">Phản hồi quản trị viên</h1>
                </a>
                <h1 class="gg"></h1>
                <p><a href="">thanhak2k2@gmail.com</a></p>
            </div>

        </div>
</body>

</html>